<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Clean-data-with-Python-Pandas" data-toc-modified-id="Clean-data-with-Python-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Clean data with Python Pandas</a></span><ul class="toc-item"><li><span><a href="#About-Jupyter-Notebooks-and-Pandas" data-toc-modified-id="About-Jupyter-Notebooks-and-Pandas-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>About Jupyter Notebooks and Pandas</a></span></li></ul></li><li><span><a href="#Getting-started" data-toc-modified-id="Getting-started-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Getting started</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Import-data" data-toc-modified-id="Import-data-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Import data</a></span></li></ul></li><li><span><a href="#Explore-data" data-toc-modified-id="Explore-data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Explore data</a></span></li></ul></li><li><span><a href="#Clean-data" data-toc-modified-id="Clean-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Clean data</a></span><ul class="toc-item"><li><span><a href="#Cleaning-strings" data-toc-modified-id="Cleaning-strings-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Cleaning strings</a></span></li><li><span><a href="#Delete-columns" data-toc-modified-id="Delete-columns-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Delete columns</a></span></li><li><span><a href="#Renaming-columns" data-toc-modified-id="Renaming-columns-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Renaming columns</a></span></li><li><span><a href="#Clean-up-column-names" data-toc-modified-id="Clean-up-column-names-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Clean up column names</a></span></li><li><span><a href="#Cleaning-dates" data-toc-modified-id="Cleaning-dates-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Cleaning dates</a></span></li><li><span><a href="#Adding-columns-with-year-and-month" data-toc-modified-id="Adding-columns-with-year-and-month-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Adding columns with year and month</a></span></li></ul></li><li><span><a href="#Removing-columns" data-toc-modified-id="Removing-columns-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Removing columns</a></span><ul class="toc-item"><li><span><a href="#Save-your-data" data-toc-modified-id="Save-your-data-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Save your data</a></span></li></ul></li></ul></div>

  # Clean data with Python Pandas

Welcome to this Jupyter Notebook! 
  
Today you'll learn how to import a CSV file into a Jupyter Notebook, and how to clean up messy data. This notebook is part of the course Python for Journalists at [Learno.net](learno.net). The data used originally comes from [the Electoral Commission website](http://search.electoralcommission.org.uk/Search?currentPage=1&rows=10&sort=AcceptedDate&order=desc&tab=1&open=filter&et=pp&isIrishSourceYes=false&isIrishSourceNo=false&date=Reported&from=&to=&quarters=2018Q12&rptPd=3617&prePoll=false&postPoll=false&donorStatus=individual&donorStatus=tradeunion&donorStatus=company&donorStatus=unincorporatedassociation&donorStatus=publicfund&donorStatus=other&donorStatus=registeredpoliticalparty&donorStatus=friendlysociety&donorStatus=trust&donorStatus=limitedliabilitypartnership&donorStatus=impermissibledonor&donorStatus=na&donorStatus=unidentifiabledonor&donorStatus=buildingsociety&register=ni&register=gb&optCols=Register&optCols=IsIrishSource&optCols=ReportingPeriodName), but is edited for training purposes. The edited dataset is available on the Learno website. 

Remember: before you start working with data, make sure to create a copy of the original dataset.

## About Jupyter Notebooks and Pandas

Right now you're looking at a Jupyter Notebook: an interactive, browser based programming environment. You can use these notebooks to program in R, Julia or Python - as you'll be doing later on. Read more about Jupyter Notebook in the [Jupyter Notebook Quick Start Guide](https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/what_is_jupyter.html). 
  
To clean up our data, we'll be using Python and Pandas. Pandas is an open-source Python library - basically an extra toolkit to go with Python - that is designed for data analysis. Pandas is flexible, easy to use and has lots of useful functions built right in. Read more about Pandas and its features in [the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/).

**Notebook shortcuts**  

Within Jupyter Notebooks, there are some shortcuts you can use. If you'll be using more notebooks for your data analysis in the future, you'll remember these shortcuts soon enough. :) 

* `esc` will take you into command mode
* `a` will insert cell above
* `b` will insert cell below
* `shift then tab` will show you the documentation for your code
* `shift and enter` will run your cell
* ` d d` will delete a cell

**Pandas dictionary**

* **dataframe**: dataframe is Pandas speak for a table with a labeled y-axis, also known as an index. (The index usually starts at 0.)
* **series**: a series is a list, a series can be made of a single column within a dataframe.

Before we dive in, a little more about Jupyter Notebooks. Every notebooks is made out of cells. A cell can either contain Markdown text - like this one - or code. In the latter you can execute your code. To see what that means, type the following command in the next cell `print("hello world")`.

In [1]:
print("hello world")

hello world

OK, if you're good to go, let dive in...

# Getting started

Before we can work on our data, we need to import all libraries we'll need. In this case, we need to import the Pandas library. You can do that by typing in `import pandas as pd`.

In [2]:
import pandas as pd

`as pd` means that when you'll be writing code you can refer to the library by writing `pd` instead of `pandas`. It's just a little bit shorter and therefore more efficient - something programmers like a lot.

### Import data

For this course, we'll be using data on donations done to British political parties. The data was originally downloaded from [the Electoral Commission website](http://search.electoralcommission.org.uk/Search?currentPage=1&rows=10&sort=AcceptedDate&order=desc&tab=1&open=filter&et=pp&isIrishSourceYes=false&isIrishSourceNo=false&date=Reported&from=&to=&quarters=2018Q12&rptPd=3617&prePoll=false&postPoll=false&donorStatus=individual&donorStatus=tradeunion&donorStatus=company&donorStatus=unincorporatedassociation&donorStatus=publicfund&donorStatus=other&donorStatus=registeredpoliticalparty&donorStatus=friendlysociety&donorStatus=trust&donorStatus=limitedliabilitypartnership&donorStatus=impermissibledonor&donorStatus=na&donorStatus=unidentifiabledonor&donorStatus=buildingsociety&register=ni&register=gb&optCols=Register&optCols=IsIrishSource&optCols=ReportingPeriodName).

We are going to create a dataframe by importing a CSV with our data. Data can be imported using the following code: `df = pd.read_csv('filename.csv')`.

In [4]:
df = pd.read_csv('results.csv')

Sometimes you'll have a CSV file that doesn't use comma's to seperate values, but uses semi-colons or something else entirely. To import such a dataset change the code into:  
`df = pd.read_csv('filename.csv', delimiter=";")`.

## Explore data

When importing our data, we save the CSV file inside a dataframe that is called `df`. We can now explore the data by refering to the dataframe as `df`. It's important to 'get to know' your data, so you know what you're working with.

Use `df.head(10)` to look at the first ten rows of the data:

In [5]:
df.head(10)

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,IsReportedPrePoll,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource
0,C0363977,Plaid Cymru - The Party of Wales,Political Party,"£20,000.00",19/12/2018,Central Party,Mr Alun Ffred Jones,False,False,Individual,...,NaN,Q4 2017,False,True,77,NaN,83318,NaN,Great Britain,False
1,C0364233,Liberal Democrats,Political Party,"£1,800.00",31/12/2017,Greater Reading,Ms Kirsten Bayes,False,False,Individual,...,NaN,Q4 2017,False,True,90,1998.0,43033,NaN,Great Britain,False
2,C0364187,Liberal Democrats,Political Party,"£3,000.00",31/12/2017,South Gloucestershire,Mr Steve Webb,False,False,Individual,...,NaN,Q4 2017,False,True,90,5141.0,35400,NaN,Great Britain,False
3,C0364207,Liberal Democrats,Political Party,"£1,560.00",31/12/2017,Westmorland and Lonsdale,Mr Tim Farron,False,False,Individual,...,NaN,Q4 2017,False,True,90,2386.0,76661,NaN,Great Britain,False
4,C0364113,Liberal Democrats,Political Party,"£7,750.00",31/12/2017,Central Party,Mr Duncan Greenland,True,False,Individual,...,NaN,Q4 2017,False,True,90,NaN,35403,NaN,Great Britain,False
5,C0364156,Liberal Democrats,Political Party,"£1,800.00",31/12/2017,Hazel Grove,Mr Michael Lees,False,False,Individual,...,NaN,Q4 2017,False,True,90,2022.0,76645,NaN,Great Britain,False
6,C0364219,Liberal Democrats,Political Party,"£1,838.00",31/12/2017,Cheltenham,Ms Jane Mactaggart,False,False,Individual,...,NaN,Q4 2017,False,True,90,1873.0,47793,NaN,Great Britain,False
7,C0364238,Liberal Democrats,Political Party,"£1,779.00",31/12/2017,Gloucester,Mr Jeremy Hilton,False,False,Individual,...,NaN,Q4 2017,False,True,90,1991.0,83347,NaN,Great Britain,False
8,C0364264,Liberal Democrats,Political Party,"£2,400.00",31/12/2017,Parliamentary Party In The Lords,Baroness Kathryn Parminter,False,False,Individual,...,NaN,Q4 2017,False,True,90,4578.0,37433,NaN,Great Britain,False
9,C0364101,Liberal Democrats,Political Party,"£1,560.00",31/12/2017,Yeovil,Lady Catherine Bakewell,False,False,Individual,...,NaN,Q4 2017,False,True,90,2414.0,50620,NaN,Great Britain,False

Use `df.tail(10)` to look at the last ten rows of the data:

In [6]:
df.tail(10)

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,IsReportedPrePoll,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource
290,NC0364001,UK Independence Party (UKIP),Political Party,£650.00,31/03/2017,Harwich and North Essex,Mr Duncan Greenland,False,False,Individual,...,NaN,Q4 2017,False,True,85,4914.0,83324,NaN,Great Britain,False
291,C0376428,Conservative and Unionist Party,Political Party,"£2,500.00",27/03/2017,Havant,Mr Jeremy Hand,False,False,Individual,...,NaN,Q4 2017,False,False,52,1253.0,83880,NaN,Great Britain,False
292,C0363992,UK Independence Party (UKIP),Political Party,"£2,500.00",15/02/2017,Central Party,Professor Tim Congdon,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,38170,NaN,Great Britain,False
293,C0364019,UK Independence Party (UKIP),Political Party,"£1,000.00",08/02/2017,Central Party,Lord D Stevens of Ludgate,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,48879,NaN,Great Britain,False
294,C0363993,UK Independence Party (UKIP),Political Party,"£5,000.00",26/01/2017,Central Party,Professor Tim Congdon,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,38170,NaN,Great Britain,False
295,C0363988,UK Independence Party (UKIP),Political Party,"£1,000.00",26/01/2017,Central Party,Mr Duncan Greenland,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,83323,NaN,Great Britain,False
296,C0364018,UK Independence Party (UKIP),Political Party,"£5,000.00",26/01/2017,Central Party,Lord D Stevens of Ludgate,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,48879,NaN,Great Britain,False
297,C0364007,UK Independence Party (UKIP),Political Party,"£1,000.00",13/01/2017,Central Party,Mr Duncan Greenland,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,74686,NaN,Great Britain,False
298,C0363987,UK Independence Party (UKIP),Political Party,"£1,000.00",12/01/2017,Central Party,Mr Malcolm Bluemel,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,83323,NaN,Great Britain,False
299,C0393892,Labour Party,Political Party,"£1,000.00",10/01/2017,Folkestone and Hythe CLP,Mr Duncan Greenland,True,False,Individual,...,NaN,Q4 2017,False,True,53,295.0,83996,NaN,Great Britain,False

To look at a random sample of the data set, typ `df.sample(5)`.

In [7]:
df.sample(5)

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,IsReportedPrePoll,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource
293,C0364019,UK Independence Party (UKIP),Political Party,"£1,000.00",08/02/2017,Central Party,Lord D Stevens of Ludgate,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,48879,NaN,Great Britain,False
134,C0376278,Conservative and Unionist Party,Political Party,"£2,499.00",14/12/2017,Central Party,Mr Nicholas Brougham,False,False,Individual,...,NaN,Q4 2017,False,True,52,NaN,83060,NaN,Great Britain,False
271,C0364083,Liberal Democrats,Political Party,"£5,000.00",08/06/2017,Central Party,Mr Albert Mcintosh,False,False,Individual,...,NaN,Q4 2017,False,False,90,NaN,82944,NaN,Great Britain,False
256,C0376284,Conservative and Unionist Party,Political Party,"£8,100.00",09/10/2017,Central Party,Mr Michael Cohen,False,False,Individual,...,NaN,Q4 2017,False,False,52,NaN,83833,NaN,Great Britain,False
76,C0364228,Liberal Democrats,Political Party,"£1,800.00",31/12/2017,Watford,Mr Mark Watkin,False,False,Individual,...,NaN,Q4 2017,False,True,90,2364.0,48732,NaN,Great Britain,False

Next we want to know what data types we're dealing with for each column in our dataframe

Within Python different types of information, have different names. Using `df.dtypes` you can see what data type is in each column of the dataframe. 

**Most common data types**
* **int**: short for integer, a number with no decimal
* **float**: short for floating point, a number with at least one decimal. 
* **string**: usually a bit of text, if there are numbers in a string they are not recognized as such. Python will see a string as text.
* **object**: usually a bit of text, if there are numbers in a string they are not recognized as such. Python will see a string as text.
* **bool**: short for boolean, a binary data type, (true/false)

In [8]:
df.dtypes

ECRef                             object
RegulatedEntityName               object
RegulatedEntityType               object
Value                             object
AcceptedDate                      object
AccountingUnitName                object
DonorName                         object
AccountingUnitsAsCentralParty       bool
IsSponsorship                       bool
DonorStatus                       object
RegulatedDoneeType               float64
CompanyRegistrationNumber        float64
Postcode                         float64
DonationType                      object
NatureOfDonation                  object
PurposeOfVisit                   float64
DonationAction                   float64
ReceivedDate                      object
ReportedDate                      object
IsReportedPrePoll                float64
ReportingPeriodName               object
IsBequest                           bool
IsAggregation                       bool
RegulatedEntityId                  int64
AccountingUnitId                 float64
DonorId                            int64
CampaigningName                  float64
RegisterName                      object
IsIrishSource                       bool
dtype: object

To see the shape of the dataframe - the number of rows and columns - type `df.shape`.

In [9]:
df.shape

(300, 29)

To see a descriptive statistics summary of our data, including the median, average value for every column, type `df.describe()`

In [10]:
df.describe()

,RegulatedDoneeType,CompanyRegistrationNumber,Postcode,PurposeOfVisit,DonationAction,IsReportedPrePoll,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName
count,0.0,0.0,0.0,0.0,0.0,0.0,300.000000,171.000000,300.000000,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,138.116667,2315.818713,65556.336667,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,596.037318,1281.242130,19466.692599,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,52.000000,38.000000,19152.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,52.000000,1512.000000,47058.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,85.000000,2013.000000,76334.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,90.000000,2386.000000,83335.500000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,6595.000000,5278.000000,84031.000000,NaN

As you can see, using `df.describe()`, the Value column is missing. What happened? The most interesting data is in there... Well, remember when we asked Python to give us the data type for each column using `df.dtypes`? 

Turns out, Python doesn't recognize the values in the Value column as numbers. Spoiler alert: that might have something to do with the comma's and pound-sign in that column. Guess what? It's time to do some data cleaning. 

# Clean data

**Clean data to do list**
- make sure that numerical values are recognized as such
- dates are just objects, lets make Python recognize dates as dates
- create new columns based on the date (like a column for year and month)

## Cleaning strings

If we're going to analyse the data, we need the Value column to be recognized as float-numbers. (Floats, not ints since the Value column has numbers with decimals in there.)

First, let's remove all of the pound-signs £... Type `df['ValueClean'] = df['Value'].str.replace('£', '')`. Now, what does this doe? It adds the column ValueClean, which is exactly the same as the column Value, but with every '£' replaced by nothing.

In [14]:
df['ValueClean'] = df['Value'].str.replace('£', '')

In [15]:
df['Value'].str.replace('£', '')

0      20,000.00
1       1,800.00
2       3,000.00
3       1,560.00
4       7,750.00
         ...
295     1,000.00
296     5,000.00
297     1,000.00
298     1,000.00
299     1,000.00
Name: Value, Length: 300, dtype: object

Let's heave a look at the first rows to see how we've done. Remember `df.head()`? ValueClean will be added at the right end of the table...

In [16]:
df.head()

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,ValueClean
0,C0363977,Plaid Cymru - The Party of Wales,Political Party,"£20,000.00",19/12/2018,Central Party,Mr Alun Ffred Jones,False,False,Individual,...,Q4 2017,False,True,77,NaN,83318,NaN,Great Britain,False,"20,000.00"
1,C0364233,Liberal Democrats,Political Party,"£1,800.00",31/12/2017,Greater Reading,Ms Kirsten Bayes,False,False,Individual,...,Q4 2017,False,True,90,1998.0,43033,NaN,Great Britain,False,"1,800.00"
2,C0364187,Liberal Democrats,Political Party,"£3,000.00",31/12/2017,South Gloucestershire,Mr Steve Webb,False,False,Individual,...,Q4 2017,False,True,90,5141.0,35400,NaN,Great Britain,False,"3,000.00"
3,C0364207,Liberal Democrats,Political Party,"£1,560.00",31/12/2017,Westmorland and Lonsdale,Mr Tim Farron,False,False,Individual,...,Q4 2017,False,True,90,2386.0,76661,NaN,Great Britain,False,"1,560.00"
4,C0364113,Liberal Democrats,Political Party,"£7,750.00",31/12/2017,Central Party,Mr Duncan Greenland,True,False,Individual,...,Q4 2017,False,True,90,NaN,35403,NaN,Great Britain,False,"7,750.00"

We're not done yet with this ValueClean column. We need to remove all comma's - Python doesn't like comma's or points for thousands, only for decimals. How would you remove all comma's in the ValueClean column without creating a new column? 
.  
.  
.  
.  
.  
.  
.  
.  
.  
.  
.  
.  
  
The answer looks a lot like `df['ValueClean'] = df['Value'].str.replace('£', '')` but isn't exactly the same...
.  
.  
.  
.  
.  
.  
.  
.  
.  
.  
.  
.  
  
Type `df['ValueClean'] = df['ValueClean'].str.replace(',', '')`, which will replace the column ValueClean with the column ValueClean where all comma's are replaced by nothing.

In [18]:
df['ValueClean'] = df['ValueClean'].str.replace(',', '')

In [19]:
df['ValueClean']

0      20000.00
1       1800.00
2       3000.00
3       1560.00
4       7750.00
         ...
295     1000.00
296     5000.00
297     1000.00
298     1000.00
299     1000.00
Name: ValueClean, Length: 300, dtype: object

Now, let's see if this did the trick. Use `df.dtypes` to see if the ValueClean column is now a float datatype...

In [20]:
df.dtypes

ECRef                             object
RegulatedEntityName               object
RegulatedEntityType               object
Value                             object
AcceptedDate                      object
AccountingUnitName                object
DonorName                         object
AccountingUnitsAsCentralParty       bool
IsSponsorship                       bool
DonorStatus                       object
RegulatedDoneeType               float64
CompanyRegistrationNumber        float64
Postcode                         float64
DonationType                      object
NatureOfDonation                  object
PurposeOfVisit                   float64
DonationAction                   float64
ReceivedDate                      object
ReportedDate                      object
IsReportedPrePoll                float64
ReportingPeriodName               object
IsBequest                           bool
IsAggregation                       bool
RegulatedEntityId                  int64
AccountingUnitId                 float64
DonorId                            int64
CampaigningName                  float64
RegisterName                      object
IsIrishSource                       bool
ValueClean                        object
dtype: object

Didn't work, huh? That's because we need to explicitly tell Python that the ValueClean column contains float numbers. We can use a Pandas function to do this - like all Pandas functions this one too starts with `pd.`: 

`df['ValueClean'] = pd.to_numeric(df['ValueClean'])`

In [21]:
df['ValueClean'] = pd.to_numeric(df['ValueClean'])

In [22]:
df['ValueClean']

0      20000.0
1       1800.0
2       3000.0
3       1560.0
4       7750.0
        ...
295     1000.0
296     5000.0
297     1000.0
298     1000.0
299     1000.0
Name: ValueClean, Length: 300, dtype: float64

## Delete columns

Ok, now we got our Value column cleaned up in ValueClean; we actually no longer need to keep the original Value column. In Pandas removing or deleting a column is called 'dropping a column'. 

Also good to know: in Pandas, rows (horizontal) in a dataframe have axis=0, columns (vertical) have the first axis (axis=1). 

Knowing this, typing `df = df.drop('Value', 1)` should make sense. It means: the dataframe is the dataframe with the column Value dropped.

In [23]:
df = df.drop('Value', 1)

In [24]:
df

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,ValueClean
0,C0363977,Plaid Cymru - The Party of Wales,Political Party,19/12/2018,Central Party,Mr Alun Ffred Jones,False,False,Individual,NaN,...,Q4 2017,False,True,77,NaN,83318,NaN,Great Britain,False,20000.0
1,C0364233,Liberal Democrats,Political Party,31/12/2017,Greater Reading,Ms Kirsten Bayes,False,False,Individual,NaN,...,Q4 2017,False,True,90,1998.0,43033,NaN,Great Britain,False,1800.0
2,C0364187,Liberal Democrats,Political Party,31/12/2017,South Gloucestershire,Mr Steve Webb,False,False,Individual,NaN,...,Q4 2017,False,True,90,5141.0,35400,NaN,Great Britain,False,3000.0
3,C0364207,Liberal Democrats,Political Party,31/12/2017,Westmorland and Lonsdale,Mr Tim Farron,False,False,Individual,NaN,...,Q4 2017,False,True,90,2386.0,76661,NaN,Great Britain,False,1560.0
4,C0364113,Liberal Democrats,Political Party,31/12/2017,Central Party,Mr Duncan Greenland,True,False,Individual,NaN,...,Q4 2017,False,True,90,NaN,35403,NaN,Great Britain,False,7750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,C0363988,UK Independence Party (UKIP),Political Party,26/01/2017,Central Party,Mr Duncan Greenland,False,False,Individual,NaN,...,Q4 2017,False,True,85,NaN,83323,NaN,Great Britain,False,1000.0
296,C0364018,UK Independence Party (UKIP),Political Party,26/01/2017,Central Party,Lord D Stevens of Ludgate,False,False,Individual,NaN,...,Q4 2017,False,True,85,NaN,48879,NaN,Great Britain,False,5000.0
297,C0364007,UK Independence Party (UKIP),Political Party,13/01/2017,Central Party,Mr Duncan Greenland,False,False,Individual,NaN,...,Q4 2017,False,True,85,NaN,74686,NaN,Great Britain,False,1000.0
298,C0363987,UK Independence Party (UKIP),Political Party,12/01/2017,Central Party,Mr Malcolm Bluemel,False,False,Individual,NaN,...,Q4 2017,False,True,85,NaN,83323,NaN,Great Britain,False,1000.0
299,C0393892,Labour Party,Political Party,10/01/2017,Folkestone and Hythe CLP,Mr Duncan Greenland,True,False,Individual,NaN,...,Q4 2017,False,True,53,295.0,83996,NaN,Great Britain,False,1000.0

## Renaming columns

With the Value column gone, we can rename ValueClean to Value. Use the following command to do this: `df = df.rename(columns={'old_name': 'new_name'})`

In [28]:
df = df.rename(columns={'ValueClean':'Value'})

## Clean up column names

Since leading and trail spaces will always come back to haunt you in your data analysis nightmares, you want to make sure you get them out of your way before analysing your data. 

Let's see if there are any of these spaces in our column names, by typing `df.columns`, which will give us a list of all column names.

In [29]:
df.columns

Index(['ECRef', 'RegulatedEntityName', 'RegulatedEntityType', 'AcceptedDate',
       'AccountingUnitName', 'DonorName', 'AccountingUnitsAsCentralParty',
       'IsSponsorship', 'DonorStatus', 'RegulatedDoneeType',
       'CompanyRegistrationNumber', 'Postcode', 'DonationType',
       'NatureOfDonation', 'PurposeOfVisit', 'DonationAction', 'ReceivedDate',
       'ReportedDate', 'IsReportedPrePoll', 'ReportingPeriodName', 'IsBequest',
       'IsAggregation', 'RegulatedEntityId', 'AccountingUnitId', 'DonorId',
       'CampaigningName', 'RegisterName', 'IsIrishSource', 'Value'],
      dtype='object')

Looking good to me... Let's check all donor names. Get a list of all donor names by using the following command: `df['columnname'].unique()`.

In [31]:
df['DonorName'].unique()

array(['Mr Alun Ffred Jones  ', 'Ms Kirsten Bayes', 'Mr Steve  Webb',
       'Mr Tim Farron', 'Mr Duncan Greenland', 'Mr Michael Lees',
       'Ms Jane Mactaggart', 'Mr Jeremy Hilton',
       'Baroness Kathryn Parminter', 'Lady Catherine Bakewell',
       'Mr Martin Elengorn', 'Cllr Ian Shires', 'Ms Liz  Morris',
       'Dr Alun  Griffiths', 'Mr Dave  Hodgson', 'Mr David Goodwin',
       'Mrs Elizabeth Barraclough', 'Baroness Shirley Williams',
       'Lord Tim Clement-Jones', 'Mr Mark  Burch', 'Mr Arthur Hookway',
       'Mr Brett Hammond', 'Mr Ashley Wood', 'Mrs Rowena Hay',
       'Ms Lynne Featherstone', 'Ms Inga Lockington', 'Mr Peter Rothery',
       'Mr Richard Keatinge', 'Mr Cliff Woodcraft', 'Mr Derek Eastman',
       'Ms Gail  Engert', 'Mr Pathumal Ali', 'Mrs Klara Sudbury',
       'Mr James Macpherson', 'Mr David Tutt', 'Mr Colin  Stears',
       'Ms Mary Wane', 'Mr Alistair  Barr', 'Miss Jocelyn Clark',
       ' Roger Michael Isherwood', 'Mr David E D Brownlow',
       'Mr David E Brownlow', 'Cllr Joe Harris', 'Mr James Baker',
       'Mr Dennis Meredith', 'Ms Anne  Winstanley', 'Mr David Brown',
       'Mr Bernard Fisher', 'Mr A Serge Lourie',
       'Mr Richard Christopher Breen', 'Mr Simon Wheeler',
       'Mrs Mary-Jane Jeanes', 'Lord Richard Allan Of Hallam',
       'Dr Robert Barr', 'Mrs Marian Radford', 'Baroness Barbara Janke',
       'Mr M Joe Boyle', 'Mr Dominic Hiscock',
       'Mr Manuel Abellan-San Martin', 'Ms Helen Clucas',
       'Mr Edward Acland', 'Ms Joanna  Kenny', 'Mr Michael Carter',
       'Ms Ruth  Dombey', 'Ms Karin Snowden', 'Mrs Sunita Gordon',
       'Mr John Hale', 'Lord Paul  Strasburger', 'Mrs Carolyn Lambert',
       'Mr Mark Watkin', 'Mr Andrew  Waller', 'Mr David  Beacham',
       ' Christopher Williams', 'Mr John Mason', 'Mr Steven Lambert',
       'Mrs Isobel McCall', 'Mr Michael Headley', 'Mr Robert Wood',
       'Mr Mark  Petterson', 'Lord Nigel D Jones of Cheltenham',
       'Mr Ian Cuthbertson', 'Mrs Marlene Heron', 'Mr Owen  Temple',
       'Mr Edward Joyce', 'Mr SImon  Curtis', 'Mr Andrew Mckinlay',
       'Ms Philippa  Connor', 'Mrs Hilary Stephenson', 'Mr Chris White',
       'Mr Tom  Gosling', 'Mr Alan  Sherwell',
       'Mr Gerald  Vernon-Jackson', 'Mr Keith Crout',
       'Mr Alexey  Chudnovskiy', ' Stella Creasy', ' Mike Penning',
       'Mr Anthony H Billingham', 'Mr Peter Wilson', 'Mrs Susan  Howes',
       'Mr Greg  Dyke', 'Mr John B Rutter', 'Ms Christine E Dawood',
       'Mr Alan  T Wicnh', 'Mr Stephen Kinsella', 'Mr David W Gray',
       'Mr Robert Chicken', 'Mr Simon D Hume-Kendall',
       'Ms Jennifer  Talbot', 'Sir Michael Hintze', 'Mr Jeremy J Lefroy',
       'Mrs Gitte  Dawson', 'Mr Sam Singh', 'Mr Michael C Warshaw',
       'Mr Edmund G Truell', 'Mr Surinderpal Lit', 'Mr Stephen S Less',
       'Mr Stephen Howard', 'Lord Stanley Fink', 'Mr Dominic R Johnson',
       'Mr Daniel P Hearsum', 'Baroness Emma Nicholson',
       'Mr Nicholas Brougham', 'Dr Arujuna Sivananthan', 'Mr Mark J Page',
       'Mr Michael Davis', 'Mr Michael J Wade', 'Mr Roger Manser',
       'Mr Richard J Grimes', 'Mr Palminder Singh',
       'Lord Charles Falconer of Thoroton', 'Professor Tim Congdon',
       'Mr Arthur P Davidson', 'Mr Mohamed Mansour', 'Mr Peter Cruddas',
       'Mr Alan C Bolton', 'Mr Ian McNish', 'Ms Jean Lambert MEP',
       'Mr Ian Pirie', 'Mr Ian H Leslie-Melville', 'Mr Michael Slade',
       'Lady Sarah L Keswick', 'Mr John D Lovering', 'Mr Dinesh Dhamija',
       'Mr Andrew D Williams', 'Ms Alison Frost',
       'Mr Raymond Chamberlain', 'Ms Elizabeth Reason',
       'Mr Malcolm Bluemel', 'Mrs Catherine Pirie', 'Mr Andrew Law',
       'Ms Alison Johnstone', 'Mr Simon M Haslam', 'Mr Patrick Harvie',
       'Mr Ross John Greer', 'Lord John Crawford',
       'Mr Mark Christopher Ruskell', 'Mr Andrew Dearg Wightman',
       'Mr John Bradford Finnie', 'Mr Michael S Thronton OBE',
       'Mr Henry Keswick', 'Mrs Hazel Watson', 'Mr Gerald H Elliot',
       'Lord Paul Tyler', 'Mr Jeremy RS Hunt', 'Mr Edward  John Izzard',
       'Lord D Stevens of Ludgate', 'Mr Michael Watson',
       'Ms Marina Smethhurst', ' Clive Hollick', 'Mr Abdul-Majid Jafar',
       'Mr Andrew  Godson', 'Mr Stephen P J Matthews',
       'Mr Douglas Reynolds', 'Ms Nadezda Rodicheva', 'Ms Rania K Majeed',
       'Mr Alexander Temerko', 'Mr Howard Leigh', 'Mr Thomas E Notman',
       'Mrs Sarah J Pidgley', 'Mr Philip  L Wroughton',
       'Mr Kenneth J French', 'Mr John Noel Penstone', 'Mrs Mary Erbrich',
       'Mr Patrick D Horsfall', 'Mr Anthony  Harris',
       'Mr Zac F Goldsmith', 'Mr Stephen  Dawson', 'Mr Peter Brown',
       'Mr Tony Belton', 'Mr Jonathan Leslie Skeet', ' William  Goodhart',
       'Mr Roger J Kendrick', 'Mr William Haughey', 'Ms Dora Bertolutti',
       'Mr Neville A Baxter', 'Mr Oluwole Kolade', 'Mr Anthony Bunker',
       'Mr Stephen L Massey', 'Hon George T Farmer',
       'Mr Laurence Hollingworth', 'Ms Anna Gallop', 'Mr Vincent Cable',
       'Mr John D Booth', 'Mrs Esme Forbes', 'Mr Iain Aitken',
       'Mr Byron S Huson', 'Mr Navroz D Udwadia', 'Mr James R Lupton',
       'Mr Ravi S Kailas', 'Mr Nicholas Campsie', 'Mr Nicholas N Moore',
       'Mr William H Salomon', 'Mr Ian R Taylor', 'Lord Philip Harris',
       ' Scirard Lancelyn Green', 'Mr Amjad Bseisu', 'Mr Gary Lydiate',
       'Mr Roger G Orf', 'Ms Jane Turnell-Read', 'Ms Lesley Jackson',
       'Mr Andrew Perloff', 'Mr Donald J Lewin', 'Mr Peter Kane',
       'Mr Roger Nagioff', 'Mr Christopher M Higgins',
       'Mr Michael A Dangoor', 'Mr Robert D Calrow', 'Mr Michael Cohen',
       'Mr Arthur J Taylor', 'Mr David Charles Williams',
       'Mr Robert J Madejski', 'Mr Andrew Pinnock',
       'Lord John Lee Of Trafford', 'Ms Rachel H MacLean',
       'Mr Elizabeth A Gooch', 'Mr Albert Mcintosh',
       'Mr Jeremy J Hosking', 'Mr Neil Record', 'Mrs Menju Mehrotra',
       'Mr Ravi Mehrotra', 'Mr Peter D Landale', 'Mr Daniel D Laycock',
       'Mr Edward P Weatherall', "Mr John O'Hara",
       'Mr Terence F Parkinson', 'Lord John Alderdice', 'Mr Jeremy Hand'],
      dtype=object)

Well, well, well, Mr Alun Ffred Jones  !! It going to take multiple steps to fix that: 
1. Let's make sure the DonorName column is a string.   
Use `df['columnname'] = df['columnname'].astype(str)`
2. Strip all strings in the column of leading and trail spaces.  
Use `df['columnname'] = df['columnname'].map(str.strip)`

In [32]:
df['DonorName'] = df['DonorName'].astype(str)

Did that work? Let's see. `df['DonorName'].unique()`

In [33]:
df['DonorName'].unique()

array(['Mr Alun Ffred Jones  ', 'Ms Kirsten Bayes', 'Mr Steve  Webb',
       'Mr Tim Farron', 'Mr Duncan Greenland', 'Mr Michael Lees',
       'Ms Jane Mactaggart', 'Mr Jeremy Hilton',
       'Baroness Kathryn Parminter', 'Lady Catherine Bakewell',
       'Mr Martin Elengorn', 'Cllr Ian Shires', 'Ms Liz  Morris',
       'Dr Alun  Griffiths', 'Mr Dave  Hodgson', 'Mr David Goodwin',
       'Mrs Elizabeth Barraclough', 'Baroness Shirley Williams',
       'Lord Tim Clement-Jones', 'Mr Mark  Burch', 'Mr Arthur Hookway',
       'Mr Brett Hammond', 'Mr Ashley Wood', 'Mrs Rowena Hay',
       'Ms Lynne Featherstone', 'Ms Inga Lockington', 'Mr Peter Rothery',
       'Mr Richard Keatinge', 'Mr Cliff Woodcraft', 'Mr Derek Eastman',
       'Ms Gail  Engert', 'Mr Pathumal Ali', 'Mrs Klara Sudbury',
       'Mr James Macpherson', 'Mr David Tutt', 'Mr Colin  Stears',
       'Ms Mary Wane', 'Mr Alistair  Barr', 'Miss Jocelyn Clark',
       ' Roger Michael Isherwood', 'Mr David E D Brownlow',
       'Mr David E Brownlow', 'Cllr Joe Harris', 'Mr James Baker',
       'Mr Dennis Meredith', 'Ms Anne  Winstanley', 'Mr David Brown',
       'Mr Bernard Fisher', 'Mr A Serge Lourie',
       'Mr Richard Christopher Breen', 'Mr Simon Wheeler',
       'Mrs Mary-Jane Jeanes', 'Lord Richard Allan Of Hallam',
       'Dr Robert Barr', 'Mrs Marian Radford', 'Baroness Barbara Janke',
       'Mr M Joe Boyle', 'Mr Dominic Hiscock',
       'Mr Manuel Abellan-San Martin', 'Ms Helen Clucas',
       'Mr Edward Acland', 'Ms Joanna  Kenny', 'Mr Michael Carter',
       'Ms Ruth  Dombey', 'Ms Karin Snowden', 'Mrs Sunita Gordon',
       'Mr John Hale', 'Lord Paul  Strasburger', 'Mrs Carolyn Lambert',
       'Mr Mark Watkin', 'Mr Andrew  Waller', 'Mr David  Beacham',
       ' Christopher Williams', 'Mr John Mason', 'Mr Steven Lambert',
       'Mrs Isobel McCall', 'Mr Michael Headley', 'Mr Robert Wood',
       'Mr Mark  Petterson', 'Lord Nigel D Jones of Cheltenham',
       'Mr Ian Cuthbertson', 'Mrs Marlene Heron', 'Mr Owen  Temple',
       'Mr Edward Joyce', 'Mr SImon  Curtis', 'Mr Andrew Mckinlay',
       'Ms Philippa  Connor', 'Mrs Hilary Stephenson', 'Mr Chris White',
       'Mr Tom  Gosling', 'Mr Alan  Sherwell',
       'Mr Gerald  Vernon-Jackson', 'Mr Keith Crout',
       'Mr Alexey  Chudnovskiy', ' Stella Creasy', ' Mike Penning',
       'Mr Anthony H Billingham', 'Mr Peter Wilson', 'Mrs Susan  Howes',
       'Mr Greg  Dyke', 'Mr John B Rutter', 'Ms Christine E Dawood',
       'Mr Alan  T Wicnh', 'Mr Stephen Kinsella', 'Mr David W Gray',
       'Mr Robert Chicken', 'Mr Simon D Hume-Kendall',
       'Ms Jennifer  Talbot', 'Sir Michael Hintze', 'Mr Jeremy J Lefroy',
       'Mrs Gitte  Dawson', 'Mr Sam Singh', 'Mr Michael C Warshaw',
       'Mr Edmund G Truell', 'Mr Surinderpal Lit', 'Mr Stephen S Less',
       'Mr Stephen Howard', 'Lord Stanley Fink', 'Mr Dominic R Johnson',
       'Mr Daniel P Hearsum', 'Baroness Emma Nicholson',
       'Mr Nicholas Brougham', 'Dr Arujuna Sivananthan', 'Mr Mark J Page',
       'Mr Michael Davis', 'Mr Michael J Wade', 'Mr Roger Manser',
       'Mr Richard J Grimes', 'Mr Palminder Singh',
       'Lord Charles Falconer of Thoroton', 'Professor Tim Congdon',
       'Mr Arthur P Davidson', 'Mr Mohamed Mansour', 'Mr Peter Cruddas',
       'Mr Alan C Bolton', 'Mr Ian McNish', 'Ms Jean Lambert MEP',
       'Mr Ian Pirie', 'Mr Ian H Leslie-Melville', 'Mr Michael Slade',
       'Lady Sarah L Keswick', 'Mr John D Lovering', 'Mr Dinesh Dhamija',
       'Mr Andrew D Williams', 'Ms Alison Frost',
       'Mr Raymond Chamberlain', 'Ms Elizabeth Reason',
       'Mr Malcolm Bluemel', 'Mrs Catherine Pirie', 'Mr Andrew Law',
       'Ms Alison Johnstone', 'Mr Simon M Haslam', 'Mr Patrick Harvie',
       'Mr Ross John Greer', 'Lord John Crawford',
       'Mr Mark Christopher Ruskell', 'Mr Andrew Dearg Wightman',
       'Mr John Bradford Finnie', 'Mr Michael S Thronton OBE',
       'Mr Henry Keswick', 'Mrs Hazel Watson', 'Mr Gerald H Elliot',
       'Lord Paul Tyler', 'Mr Jeremy RS Hunt', 'Mr Edward  John Izzard',
       'Lord D Stevens of Ludgate', 'Mr Michael Watson',
       'Ms Marina Smethhurst', ' Clive Hollick', 'Mr Abdul-Majid Jafar',
       'Mr Andrew  Godson', 'Mr Stephen P J Matthews',
       'Mr Douglas Reynolds', 'Ms Nadezda Rodicheva', 'Ms Rania K Majeed',
       'Mr Alexander Temerko', 'Mr Howard Leigh', 'Mr Thomas E Notman',
       'Mrs Sarah J Pidgley', 'Mr Philip  L Wroughton',
       'Mr Kenneth J French', 'Mr John Noel Penstone', 'Mrs Mary Erbrich',
       'Mr Patrick D Horsfall', 'Mr Anthony  Harris',
       'Mr Zac F Goldsmith', 'Mr Stephen  Dawson', 'Mr Peter Brown',
       'Mr Tony Belton', 'Mr Jonathan Leslie Skeet', ' William  Goodhart',
       'Mr Roger J Kendrick', 'Mr William Haughey', 'Ms Dora Bertolutti',
       'Mr Neville A Baxter', 'Mr Oluwole Kolade', 'Mr Anthony Bunker',
       'Mr Stephen L Massey', 'Hon George T Farmer',
       'Mr Laurence Hollingworth', 'Ms Anna Gallop', 'Mr Vincent Cable',
       'Mr John D Booth', 'Mrs Esme Forbes', 'Mr Iain Aitken',
       'Mr Byron S Huson', 'Mr Navroz D Udwadia', 'Mr James R Lupton',
       'Mr Ravi S Kailas', 'Mr Nicholas Campsie', 'Mr Nicholas N Moore',
       'Mr William H Salomon', 'Mr Ian R Taylor', 'Lord Philip Harris',
       ' Scirard Lancelyn Green', 'Mr Amjad Bseisu', 'Mr Gary Lydiate',
       'Mr Roger G Orf', 'Ms Jane Turnell-Read', 'Ms Lesley Jackson',
       'Mr Andrew Perloff', 'Mr Donald J Lewin', 'Mr Peter Kane',
       'Mr Roger Nagioff', 'Mr Christopher M Higgins',
       'Mr Michael A Dangoor', 'Mr Robert D Calrow', 'Mr Michael Cohen',
       'Mr Arthur J Taylor', 'Mr David Charles Williams',
       'Mr Robert J Madejski', 'Mr Andrew Pinnock',
       'Lord John Lee Of Trafford', 'Ms Rachel H MacLean',
       'Mr Elizabeth A Gooch', 'Mr Albert Mcintosh',
       'Mr Jeremy J Hosking', 'Mr Neil Record', 'Mrs Menju Mehrotra',
       'Mr Ravi Mehrotra', 'Mr Peter D Landale', 'Mr Daniel D Laycock',
       'Mr Edward P Weatherall', "Mr John O'Hara",
       'Mr Terence F Parkinson', 'Lord John Alderdice', 'Mr Jeremy Hand'],
      dtype=object)

## Cleaning dates

Ok, so now we've only got to clean up our dates. We're going to use another python library: the datetime library contains some neat and handy datetime tools. Just what we need, type: `import datetime`

In [34]:
import datetime

Let's have another look at some of our data before we start working on the date column. Use `df.head()`, `df.tail()` or my personal favorite `df.sample()`.

In [41]:
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value
241,NC0376457,Conservative and Unionist Party,Political Party,2017-10-17,Wirral South,Scirard Lancelyn Green,False,False,Individual,NaN,...,Q4 2017,False,True,52,1721.0,76334,NaN,Great Britain,False,600.0

In [36]:
df.head()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value
0,C0363977,Plaid Cymru - The Party of Wales,Political Party,19/12/2018,Central Party,Mr Alun Ffred Jones,False,False,Individual,NaN,...,Q4 2017,False,True,77,NaN,83318,NaN,Great Britain,False,20000.0
1,C0364233,Liberal Democrats,Political Party,31/12/2017,Greater Reading,Ms Kirsten Bayes,False,False,Individual,NaN,...,Q4 2017,False,True,90,1998.0,43033,NaN,Great Britain,False,1800.0
2,C0364187,Liberal Democrats,Political Party,31/12/2017,South Gloucestershire,Mr Steve Webb,False,False,Individual,NaN,...,Q4 2017,False,True,90,5141.0,35400,NaN,Great Britain,False,3000.0
3,C0364207,Liberal Democrats,Political Party,31/12/2017,Westmorland and Lonsdale,Mr Tim Farron,False,False,Individual,NaN,...,Q4 2017,False,True,90,2386.0,76661,NaN,Great Britain,False,1560.0
4,C0364113,Liberal Democrats,Political Party,31/12/2017,Central Party,Mr Duncan Greenland,True,False,Individual,NaN,...,Q4 2017,False,True,90,NaN,35403,NaN,Great Britain,False,7750.0

Our dates are in the AcceptedDate column. Let's make sure these dates are recognized as such. Use `df['AcceptedDate'] = pd.to_datetime(df['AcceptedDate'], format="%d/%m/%Y")` to change the data type from object to date. Use `df.head()`, `df.tail()` or `df.sample()` to see if it worked.

In [37]:
df['AcceptedDate'] = pd.to_datetime(df['AcceptedDate'], format="%d/%m/%Y")

Now, did the data type of the AcceptedDate column change? Use `df.dtypes` to check.

In [39]:
df.tail()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value
295,C0363988,UK Independence Party (UKIP),Political Party,2017-01-26,Central Party,Mr Duncan Greenland,False,False,Individual,NaN,...,Q4 2017,False,True,85,NaN,83323,NaN,Great Britain,False,1000.0
296,C0364018,UK Independence Party (UKIP),Political Party,2017-01-26,Central Party,Lord D Stevens of Ludgate,False,False,Individual,NaN,...,Q4 2017,False,True,85,NaN,48879,NaN,Great Britain,False,5000.0
297,C0364007,UK Independence Party (UKIP),Political Party,2017-01-13,Central Party,Mr Duncan Greenland,False,False,Individual,NaN,...,Q4 2017,False,True,85,NaN,74686,NaN,Great Britain,False,1000.0
298,C0363987,UK Independence Party (UKIP),Political Party,2017-01-12,Central Party,Mr Malcolm Bluemel,False,False,Individual,NaN,...,Q4 2017,False,True,85,NaN,83323,NaN,Great Britain,False,1000.0
299,C0393892,Labour Party,Political Party,2017-01-10,Folkestone and Hythe CLP,Mr Duncan Greenland,True,False,Individual,NaN,...,Q4 2017,False,True,53,295.0,83996,NaN,Great Britain,False,1000.0

In [40]:
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value
95,C0364169,Liberal Democrats,Political Party,2017-12-31,Haringey Borough,Ms Philippa Connor,False,False,Individual,NaN,...,Q4 2017,False,True,90,2013.0,54385,NaN,Great Britain,False,2061.96

Worked perfectly! :)   

## Adding columns with year and month

Now, let's create two new columns. One with the month and one with the years... Since Python now knows that the AcceptedDate column contains dates, we can use out-of-the-box functions from pandas and the datetime libraries. 

Creating a column with the years based on the AcceptedDate column, becomes as easy as `df['Year'] = pd.DatetimeIndex(df['AcceptedDate']).year`.

In [42]:
df['Year'] = pd.DatetimeIndex(df['AcceptedDate']).year

In [43]:
df['Year']

0      2018
1      2017
2      2017
3      2017
4      2017
       ...
295    2017
296    2017
297    2017
298    2017
299    2017
Name: Year, Length: 300, dtype: int64

Use `df.head()`, `df.tail()` or `df.sample()` to see if it worked. Our new column will be added on the right side of the dataframe.

In [44]:
df.head()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value,Year
0,C0363977,Plaid Cymru - The Party of Wales,Political Party,2018-12-19,Central Party,Mr Alun Ffred Jones,False,False,Individual,NaN,...,False,True,77,NaN,83318,NaN,Great Britain,False,20000.0,2018
1,C0364233,Liberal Democrats,Political Party,2017-12-31,Greater Reading,Ms Kirsten Bayes,False,False,Individual,NaN,...,False,True,90,1998.0,43033,NaN,Great Britain,False,1800.0,2017
2,C0364187,Liberal Democrats,Political Party,2017-12-31,South Gloucestershire,Mr Steve Webb,False,False,Individual,NaN,...,False,True,90,5141.0,35400,NaN,Great Britain,False,3000.0,2017
3,C0364207,Liberal Democrats,Political Party,2017-12-31,Westmorland and Lonsdale,Mr Tim Farron,False,False,Individual,NaN,...,False,True,90,2386.0,76661,NaN,Great Britain,False,1560.0,2017
4,C0364113,Liberal Democrats,Political Party,2017-12-31,Central Party,Mr Duncan Greenland,True,False,Individual,NaN,...,False,True,90,NaN,35403,NaN,Great Britain,False,7750.0,2017

To add a column with all months is just as easy. `df['Month'] = pd.DatetimeIndex(df['AcceptedDate']).month` will do the trick, it means: in the dataframe called 'df', create a new column called 'Month' and fill it with months, which you should base on the date inside the column AcceptedDate of the dataframe df.

In [45]:
df['Month'] = pd.DatetimeIndex(df['AcceptedDate']).month

Use `df.head()`, `df.tail()` or `df.sample()` to see if it worked. For something like this, i like to use the `df.sample()` function; it allows you to see if it worked with different values. 

Off course this new column too is  added on the right side of the dataframe.

In [46]:
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value,Year,Month
13,C0364086,Liberal Democrats,Political Party,2017-12-31,City of Bradford,Dr Alun Griffiths,False,False,Individual,NaN,...,True,90,1883.0,35415,NaN,Great Britain,False,1800.0,2017,12

# Removing columns

Our dataframe is quite big. Maybe we can remove some columns? Let's see how many columns we got... Use `df.columns` and `df.shape` to familiarize yourself with the number of columns and their names.

In [47]:
df.columns

Index(['ECRef', 'RegulatedEntityName', 'RegulatedEntityType', 'AcceptedDate',
       'AccountingUnitName', 'DonorName', 'AccountingUnitsAsCentralParty',
       'IsSponsorship', 'DonorStatus', 'RegulatedDoneeType',
       'CompanyRegistrationNumber', 'Postcode', 'DonationType',
       'NatureOfDonation', 'PurposeOfVisit', 'DonationAction', 'ReceivedDate',
       'ReportedDate', 'IsReportedPrePoll', 'ReportingPeriodName', 'IsBequest',
       'IsAggregation', 'RegulatedEntityId', 'AccountingUnitId', 'DonorId',
       'CampaigningName', 'RegisterName', 'IsIrishSource', 'Value', 'Year',
       'Month'],
      dtype='object')

In [48]:
df.shape

(300, 31)

Let's get rid of the columns 'ECRef', 'AccountingUnitName', 'AccountingUnitsAsCentralParty', 'IsSponsorship', 'RegulatedDoneeType', 'CompanyRegistrationNumber', 'Postcode', 'DonationType','NatureOfDonation', 'PurposeOfVisit', 'DonationAction', 'ReceivedDate', 'ReportedDate', 'IsReportedPrePoll', 'ReportingPeriodName', 'IsBequest', 'IsAggregation', 'RegulatedEntityId', 'AccountingUnitId', 'RegisterName', 'IsIrishSource', 'AcceptedDateClean'. 

Let's drop some columns! `df = df.drop('Value', 1)`

.  
.  
.  
.  
.  
.  
.  
.  
.  
.  

Or, maybe we should just tell the computer what columns we like to keep. Might be shorter. :) 
Use `dfMini = df[['RegulatedEntityName', 'AcceptedDate', 'DonorName', 'DonorStatus', 'Year', 'Month','Value', 'RegulatedEntityType', 'DonorId', 'CampaigningName']]`

In [53]:
dfMini = df[['RegulatedEntityName', 'AcceptedDate', 'DonorName', 'DonorStatus', 'Year', 'Month', 'RegulatedEntityType', 'DonorId', 'CampaigningName']]

In [54]:
dfMini

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,RegulatedEntityType,DonorId,CampaigningName
0,Plaid Cymru - The Party of Wales,2018-12-19,Mr Alun Ffred Jones,Individual,2018,12,Political Party,83318,NaN
1,Liberal Democrats,2017-12-31,Ms Kirsten Bayes,Individual,2017,12,Political Party,43033,NaN
2,Liberal Democrats,2017-12-31,Mr Steve Webb,Individual,2017,12,Political Party,35400,NaN
3,Liberal Democrats,2017-12-31,Mr Tim Farron,Individual,2017,12,Political Party,76661,NaN
4,Liberal Democrats,2017-12-31,Mr Duncan Greenland,Individual,2017,12,Political Party,35403,NaN
...,...,...,...,...,...,...,...,...,...
295,UK Independence Party (UKIP),2017-01-26,Mr Duncan Greenland,Individual,2017,1,Political Party,83323,NaN
296,UK Independence Party (UKIP),2017-01-26,Lord D Stevens of Ludgate,Individual,2017,1,Political Party,48879,NaN
297,UK Independence Party (UKIP),2017-01-13,Mr Duncan Greenland,Individual,2017,1,Political Party,74686,NaN
298,UK Independence Party (UKIP),2017-01-12,Mr Malcolm Bluemel,Individual,2017,1,Political Party,83323,NaN
299,Labour Party,2017-01-10,Mr Duncan Greenland,Individual,2017,1,Political Party,83996,NaN

## Save your data

Now that we've put all this work into cleaning our dataset, let's save a copy. Off course Pandas has a nifty command for that too. Use `dfMini.to_csv('filename.csv', encoding='utf8')`. 

Be ware: use a different name than the filename of the original data file, or it will be overwritten.

In [55]:
dfMini.to_csv('filename.csv', encoding='utf8')

In case you want to check if a new file was created in your directory, you can use the `pwd` and `ls` commands. At the beginning of this module, we used these commands to print the working directory (`pwd`) and list the content of the working directory (`ls`). 

First, use `pwd` to see in which folder - also known as directory - you are:

In [56]:
pwd

'/Users/wyattloy/Documents/Schoolwork/Spring 2021/Interviewing & Data for Journalism/pythonforjournalists'

Now use `ls` to get a list of all files in this directory. If everything worked your newly saved datafile should be among the files in the list.

In [57]:
ls

2 Clean data.ipynb                      fatal-police-shootings-data.csv
Hello Python! - in class 3.11.21.ipynb  filename.csv
Python Challenge 1.ipynb                results.csv